<div class="container-fluid" style="background: whitesmoke;">
<div class="row">
    <div class="col-sm-2">
     
    </div>    
<div class="col-sm-8">
        <div class="widget-content popular-posts">
                <ul>
                  <li>
                    <div class="item-thumbnail">
                      <a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1"> <img class="circle" src="/assets/images/default-image.png"  border="0" height="72" width="72"> </a> <span class="title"><a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1">Virat-Kohli-breaks-Sachin-record</a></span> </div>
                    <div style="clear: both;"></div>
                  </li>
                  <li>
                      <div class="item-thumbnail">
                        <a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1"> <img class="circle" src="/assets/images/default-image.png"  border="0" height="72" width="72"> </a> <span class="title"><a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1">Virat-Kohli-breaks-Sachin-record</a></span> </div>
                      <div style="clear: both;"></div>
                    </li>
                    <li>
                        <div class="item-thumbnail">
                          <a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1"> <img class="circle" src="/assets/images/default-image.png"  border="0" height="72" width="72"> </a> <span class="title"><a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1">Virat-Kohli-breaks-Sachin-record</a></span> </div>
                        <div style="clear: both;"></div>
                      </li>
                      <li>
                          <div class="item-thumbnail">
                            <a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1"> <img class="circle" src="/assets/images/default-image.png"  border="0" height="72" width="72"> </a> <span class="title"><a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1">Virat-Kohli-breaks-Sachin-record</a></span> </div>
                          <div style="clear: both;"></div>
                        </li>
                        <li>
                            <div class="item-thumbnail">
                              <a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1"> <img class="circle" src="/assets/images/default-image.png"  border="0" height="72" width="72"> </a> <span class="title"><a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1">Virat-Kohli-breaks-Sachin-record</a></span> </div>
                            <div style="clear: both;"></div>
                          </li>
                          <li>
                              <div class="item-thumbnail">
                                <a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1"> <img class="circle" src="/assets/images/default-image.png"  border="0" height="72" width="72"> </a> <span class="title"><a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1">Virat-Kohli-breaks-Sachin-record</a></span> </div>
                              <div style="clear: both;"></div>
                            </li>
                            <li>
                                <div class="item-thumbnail">
                                  <a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1"> <img class="circle" src="/assets/images/default-image.png"  border="0" height="72" width="72"> </a> <span class="title"><a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1">Virat-Kohli-breaks-Sachin-record</a></span> </div>
                                <div style="clear: both;"></div>
                              </li>
                              <li>
                                  <div class="item-thumbnail">
                                    <a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1"> <img class="circle" src="/assets/images/default-image.png"  border="0" height="72" width="72"> </a> <span class="title"><a routerLink="/review/Virat-Kohli-breaks-Sachin-record/1">Virat-Kohli-breaks-Sachin-record</a></span> </div>
                                  <div style="clear: both;"></div>
                                </li> 
                </ul>
              </div>       
</div>


<div class="col-sm-2">



</div>
</div>
</div>
