<div class="container-fluid">
        <div class="row">
         <div class="col-sm-2">
         </div>  
        <div class="col-sm-6">
        <div class="article">
                <!-- <div class="article-category">
                        <a routerLink="" class="category">Politics</a>
                </div> -->
            <div class="article-title">
              <h3>Impeachment inquiry: Trump directed Ukraine pressure - Sondland</h3>
             </div>
             <div class="article-date">
                 <div class="left">
                   <p><i class="fas fa-clock"></i> 21 November 2019</p> 
                  </div>
                  <div class="right">  
                        <!-- <ul class="menu">
                                <li><a href=""><i class="fa fa-facebook" style="font-size:24px"></i></a></li>
                                <li>Twitter</li>
                                <li></li>
                                <li>PHP</li>
                        </ul> -->
              </div>
             </div>
             <div class="article-category">
                 <a routerLink="" class="category">Politics</a>
             </div>  
             <div class="article-image">
              <img src="https://picsum.photos/600/300/?image=10">
             </div>
             <div class="article-vote">
               <button class="btn btn-success"><i class="fas fa-check-circle"></i> Real News</button>
               <button class="btn btn-danger"><i class="fas fa-times-circle"></i> Fake News</button>
             </div>   
             <div class="article-content">
                 <p>
                        The Duke of York has been seen for the first time since he announced he would step back from royal duties over the Jeffrey Epstein scandal.
        
                        Prince Andrew said on Wednesday he would withdraw from his official role for the "foreseeable future".
                        
                        Criticism of the prince's ties to convicted US sex offender Epstein intensified amid a growing backlash following a BBC interview.
                        
                        Lawyers for Epstein's victims have urged the prince to speak to US police.
                        
                        The prince was seen by photographers on Thursday driving out of his home in Windsor, Berkshire.
                        
                        The Duke of York's ex-wife, Sarah Ferguson, who defended him as a "true and real gentleman" a day before the Newsnight interview was broadcast, was later seen being driven into the grounds of Buckingham Palace.
                        Image caption Prince Andrew's ex-wife, Sarah Ferguson, was seen being driven into the grounds of Buckingham Palace on Thursday
                        
                        Meanwhile, more organisations have announced they are cutting ties with the Duke of York.
                        
                        The University of Huddersfield said the prince was stepping down with immediate effect from his role as chancellor.
                        
                        The Association of Leading Visitor Attractions - which represents tourist sites such as museums, galleries and historic houses across the UK - said the prince was no longer its president.
                        
                        And the Outward Bound Trust - a network of outdoor education schools - said it had accepted his resignation as patron.
                        
                 </p>
            
        
              </div>  
         </div>   
        </div>
        <div class="col-sm-4">
            <!-- <div class="adv-slot">
                <p>Advertisement</p>
             </div>  -->
        </div>    
        </div>    
        </div>    
        <app-fake-news-footer></app-fake-news-footer>    